body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#272a30, #3c5f61);
}

.form-signin{
    margin: 20px;
    max-height: 80%;
    box-sizing: border-box;
    box-shadow:0 15px 25px rgba(0, 0, 0, .6);
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
p{
    color: aliceblue;
}
.f1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;   
}